<div class="d-flex justify-content-center">
    <div class="card text-center w-75 mb-3" >
        <div class="card-header">
            <p>Cliente: {{ticket.customerName}}<span> - Telefono: {{ticket.customerPhone}}</span></p>
        </div>
        <div class="card-body">
            <p class="card-title">Dirección: {{ticket.customerAddress}}</p>
            <p class="card-text">{{ticket.description}}</p>
        </div>
        <div class="card-footer text-muted">
            <button href="#" class="btn btn-primary" (click)="onTicketDetails(ticket)">Detalles</button>
        </div>
    </div>
</div>