
<div class="d-flex justify-content-center mt-3">
  <h1>Detalles</h1>
</div>
<div class="d-flex justify-content-center mt-3">
  <div class="card text-center border-dark mb-3 w-75" >
    <div id="header" class="card-header bg-transparent border-dark">
      <h6>{{ticket.customerName}} - {{ticket.customerPhone}}</h6>
    </div>
    <div class="card-body text-dark">
      <h5 class="card-title">{{ticket.customerAddress}}</h5>
      <h5 class="card-text">{{ticket.description}}</h5>
    </div>
    <div class="card-footer bg-transparent border-dark">
      <span><button class="btn btn-lg btn-primary" (click)="onReturn()">Volver</button></span>
      <span><button class="btn btn-lg btn-warning mx-3" (click)="updateTicket(ticket.id)">Editar</button></span>
      <span><button class="btn btn-lg btn-danger" (click)="deleteTicket(ticket.id)">Eliminar</button></span>
    </div>
  </div>
</div>