
<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div id="header" class="card-header bg-transparent border-dark">
      {{ticket.customerName}} - {{ticket.customerPhone}}</div>
    <div class="card-body text-dark">
      <h5 class="card-title">{{ticket.customerAddress}}</h5>
      <p class="card-text">{{ticket.description}}</p>
    </div>
    <div class="card-footer bg-transparent border-dark">
        {{ticket.technical}}
        <span><button class="btn btn-primary"
          (click)="onReturn()">Volver</button></span>
        <span><button class="btn btn-warning"
          (click)="updateTicket(ticket.id)">Editar</button></span>
          <span><button class="btn btn-danger"
            (click)="deleteTicket(ticket.id)">Eliminar</button></span>
    </div>
    
  </div>
